<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item"><i class="angle left icon"></i>Blog Site<i class="angle right icon"></i></div>
        <a href="/" class="item">Home</a>
        <a href="/blogs" class="item">Blogs</a>
        <a href="/blogs/new" class="item">New Blogs</a>
        <a href="/about" class="item">AboutUs</a>
    </div>

</div>